/* Definicions de classes utils genèriques */
.desktop { display: flex !important; }
.mobile  { display: flex !important; }
@media only screen and (max-device-width: 599px) { 
    .desktop { 
        display: none !important; 
    } 

    .content{
        background-color: gray;
        width: 100%;
        height: 100%;
        display: block;
        overflow-y: scroll;
    }
    
    .content::-webkit-scrollbar {
        display: none;
    }

    img.imagenesavion{
        max-width: 80%;
        transform: rotate(10deg);
        transition: all 2s;
        margin: 30px;
    }
    
    img.imagenesavion:hover{
        transform: rotate(0deg);
    }

    .titulo_contacto{
        text-align: center;
        color:black;
        text-decoration: underline;
        font-size: 40px;
    }
    .fondo_titulo{
        background-color: rgb(255,240,43);
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        border-radius: 25px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    h2.contacto{
        font-size: 20px;
    }

    .mapa{
        width: 100%;
        height: 100%;
        margin:auto;
    }

    img.imagenes{
        width: 100%;
        height: 100%;
    }
    
    img.imagenes_viajes{
        text-align: center;
        box-shadow: 0px 0px 19px 11px rgba(0,0,0,0.75);
    }

    .tabla_usuarios{
        width: 95%;
        height: 95%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-collapse: collapse;
        border-radius: 1em;
        overflow: hidden;
    }
    
    .tr_usuarios_info{
        padding: 10px;
        font-size: xx-large;
        background-color:#FF8F00;
    }
    
    .tr_usuarios_usuarios{
        margin-top: 20%;
        margin-bottom: 20%;
    
    }
    
    tr:nth-child(even){
        background-color: #fff9a2;
    }
    
    .td_usuarios{
        border:none;
    }
    
    .td_usuarios_img{
        border: none;
        width: 1;
    }
    .boton_usuarios{
        background-color: rgb(255,240,43);
        width: 200px;
        height: 70px;
        border-radius: 25px;
        font-size: 25px;
    }
    
    .boton_usuarios_div{
        text-align: center;
    }
    
    .boton_usuarios:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    

}
@media only screen and (min-device-width: 600px) { 
    .mobile { 
        display: none !important; 
    }

    .content{
        background-color: gray;
        border-radius: 10px;
        width: 90%;
        height: 90%;
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        display: block;
        margin: auto;
        overflow-y: scroll;
    }
    
    .content::-webkit-scrollbar {
        display: none;
    }

    img.imagenesavion{
        transform: rotate(10deg);
        transition: all 2s;
        margin: 30px;
    }
    
    img.imagenesavion:hover{
        transform: rotate(0deg);
    }

    .titulo_contacto{
        text-align: center;
        color:black;
        text-decoration: underline;
        font-size: 80px;
    }
    .fondo_titulo{
        background-color: rgb(255,240,43);
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        border-radius: 25px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .mapa{
        width: 25%;
        height: 25%;
        margin:auto;
    }

    img.imagenes{
        width: 45%;
        height: 45%;
    }
    
    img.imagenes_viajes{
        text-align: center;
        box-shadow: 0px 0px 19px 11px rgba(0,0,0,0.75);
    }

    .tabla_usuarios{
        width: 95%;
        height: 95%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-collapse: collapse;
        border-radius: 1em;
        overflow: hidden;
    }
    
    .tr_usuarios_info{
        padding: 10px;
        font-size: xx-large;
        background-color:#FF8F00;
    }
    
    .tr_usuarios_usuarios{
        margin-top: 20%;
        margin-bottom: 20%;
    
    }
    
    tr:nth-child(even){
        background-color: #fff9a2;
    }
    
    .td_usuarios{
        border:none;
    }
    
    .td_usuarios_img{
        border: none;
        width: 1;
    }
    .boton_usuarios{
        background-color: rgb(255,240,43);
        width: 200px;
        height: 70px;
        border-radius: 25px;
        font-size: 25px;
    }
    
    .boton_usuarios_div{
        text-align: center;
    }
    
    .boton_usuarios:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    

}
.flex       { display: flex; }
.flexRow    { flex-direction: row; }
.flexColumn { flex-direction: column; }
.none       { display: none; }
.halfWidth  { max-width: 50%; }
.botoIcona  { cursor: pointer; }

/* Definicions específiques */
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

.botoMenu {
    color: black;
    cursor: pointer;
    margin: 0 16px;
    font-size: 20px;
}

.botoMenu:hover {
    text-decoration: underline;
}

body {
    font-family: "Open Sans";
}

body > #frontendHome {
    display: flex;
}

body > #frontendPresentacio {
    display: none;
}

body > #frontendProductes {
    display: none;
}

body > #frontendProductes > #productesContinguts {
    width: 100%;
}

body > #frontendContacte {
    display: none;
}

body > #backofficeUsuaris {
    display: none;
}

body > #backofficeProductes {
    display: none;
}

body > #popups {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#popups > div {
    background-color: gray;
    border-radius: 10px;
    display: none;
}

.menuweb{
    background-image: url(./imatges/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
}

.menuwebbotones{
    display:flex;
    flex-direction: row;
    margin-top: 100px;
}

.botoMenu {
    transition: ALL 0.5s;
    background: rgba(255,240,43,0);
    width: auto;
    height: auto;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.botoMenu:hover {
    background: rgba(255,240,43,1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.menuhidden{
    display:none;
    height: 0px;
}

.botonesmenuhidden{
    position: sticky;
    top: 0px;
    width: 100%;
    height: auto;
    background-color: rgb(255,240,43);
}

.iconomenuboton{
    transition:ALL 1s;
}

.botonmenumobil{
    background-color: rgb(255,240,43);
    border-radius: 10px;
}

.fondopagina{
    width: 100%;
    height: 100%;
    background-color: rgb(255,240,43);
}




.titulos{
    text-align: center;
    color:white;
    text-decoration: underline;
}



div.fotos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.text_center{
    text-align: center;
}

.productos{
    border: 2px solid black;
    max-width: 50%;
    margin: 25px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    transition: all 0.5s;
}

.productos:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer
}

.underline{
    text-decoration: underline;
}

.logo_carga{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 225px;
}



.flexwrap{
flex-wrap: wrap;
}



.centro{
    text-align-last: center;
    margin-top: 100px;
}


input.boton_login{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(255,240,43);
    border-radius: 15px;
    border: 1px solid black;
    font-size: 20px;
}

input.boton_login:hover{
    cursor: pointer;
}

div.boton_login{

    text-align: center;

}

.par_login{

    margin: 20px;

}

div.titulo_login{

    color:white;
    text-decoration: underline rgb(255,240,43);
    font-size: 20px;

}

input.titulo_login{

    margin-top: 5px;
    margin-bottom: 5px;

}

.imagenes_producto{
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.des_precio{
    font-size: 20px;
    background-color: rgb(255,240,43);
    border-radius: 15px;
    border: 2px solid black;
    width: fit-content;
    margin-top: 15px;
}

.vuelos{
    width: 740px;
    height: 342px;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.flexInline{

    display: inline-flex;
    padding: 20px;
    font-size: 25px;
}

.marginR80{
    margin-right: 80px;
}



.inputvuelo{

    font-size: 23px;
    box-shadow: inset 0px 0px 16px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.botonvuelos{
    background-color: rgb(29, 32, 228);
    font-size: 30px;
    color:white;
    border-radius: 15px;
    margin-left:20px;
}

.botonvuelos:hover{
    background-color: rgb(27, 27, 136);
}